In [9]:
from fake_headers import Headers
import requests
import parsel

url = 'http://m.gaosan.com/gaokao/265440.html'

headers = Headers(headers=True).generate()
response = requests.get(url=url, headers=headers)
response.encoding = response.apparent_encoding

selector = parsel.Selector(response.text)
trs = selector.css("#data265440 tr")

for tr in trs:
    print(tr)
    print(tr.css('td:nth-child(1)::text').get())
    print(tr.css('td:nth-child(3)::text').get())

In [10]:
# pip install pyquery #安装
from pyquery import PyQuery as pq #引入
import requests
html = '''
    <div>
        <p class="pidg" id="name">nba</p>
        <td class="nobr player desktop">
            <a href="bucks" class="ng-binding" target="_parent" 
            href1="/teams/#!/bucks"><!-- ngIf: row.clinched -->密尔沃基&nbsp;雄鹿<b>nba</b></a>
        </td>
        <tr data-ng-repeat="(i, row) in page" index="0" class="ng-scope">
            <td class="nobr center bold ng-binding_0" href="href01">6</td>
            <td class="nobr center bold desktop ng-binding">18&nbsp;-&nbsp;4</td>
            <td class="nobr center bold desktop ng-binding">胜 6</td>
            <td class="nobr center bold desktop ng-binding">119.5</td>
        </tr>
    </div>
    '''
'''*************1、初始化***********************'''
doc=pq(html)# 初始化：它的初始化方式有多种，比如直接传入字符串，传入URL，传人文件名，等等。
# doc=pq(requests.get('https://blog.csdn.net/weixin_41685388/category_9426224.html').text)
# doc=doc=pq(filename='demo.html')

In [11]:
from bs4 import BeautifulSoup


html_doc = """
<html>
<head>
  <title>The Dormouse's story</title>
</head>
<body>
  <p class="title"><b>The Dormouse's story</b></p>

  <p class="story">
    Once upon a time there were three little sisters; and their names were
    <a rel="nofollow" href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
    <a rel="nofollow" href="http://example.com/lacie" class="sister" id="link2">Lacie</a>
    and
    <a rel="nofollow" href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
    and they lived at the bottom of a well.
  </p>

  <p class="story">...</p>
"""

soup = BeautifulSoup(html_doc)

soup.select("body a")

[<a class="sister" href="http://example.com/elsie" id="link1" rel="nofollow">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2" rel="nofollow">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3" rel="nofollow">Tillie</a>]

In [18]:
import pandas as pd
import datetime as dt

def get_interval_days(arrLike): 
    print(f"arrLike: {arrLike}")
    print(arrLike["date_from"])


wbs = {
    "wbs": ["job1", "job2", "job3", "job4"],
    "date_from": ["2019-04-01", "2019-04-07", "2019-05-16","2019-05-20"],
    "date_to": ["2019-05-01", "2019-05-17", "2019-05-31", "2019-06-11"]
}

df = pd.DataFrame(wbs)
df.apply(
    get_interval_days, axis=1)

arrLike: wbs                job1
date_from    2019-04-01
date_to      2019-05-01
Name: 0, dtype: object
<class 'str'>
arrLike: wbs                job2
date_from    2019-04-07
date_to      2019-05-17
Name: 1, dtype: object
<class 'str'>
arrLike: wbs                job3
date_from    2019-05-16
date_to      2019-05-31
Name: 2, dtype: object
<class 'str'>
arrLike: wbs                job4
date_from    2019-05-20
date_to      2019-06-11
Name: 3, dtype: object
<class 'str'>

0    None
1    None
2    None
3    None
dtype: object

In [24]:
html = """
<table id="table1" cellspacing="0px">
  <tr>
    <th>编号</th>
    <th>姓名</th>
    <th>年龄</th>
  </tr>
  <tr>
    <td>1</td>
    <td>张三</td>
    <td>11</td>
  </tr>
  <tr>
    <td>2<td>
    <td>李四</td>
    <td>12</td>
  </tr>
  <tr>
    <td>3</td>
    <td>王五</td>
    <td>13</td>
  </tr>
  <tr>
    <td>4</td>
    <td>马六</td>
    <td>14</td>
  </tr>
</table>
"""

from lxml import etree

content = etree.HTML(html)
rows = content.xpath('//table[@id="table1"]/tr')[1:]
for row in rows:
    print(row.xpath("./td[1]/text()")[0])

1
2
3
4